{% extends 'base.html' %}
{% load static %}

{% block title %} Tables {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}



{% block container_fluid %}

<script>

function send() {
    alert("시뮬레이션 진행 중");
    document.getElementById("contents").submit();
    }
</script>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">운영시나리오별 시뮬레이션</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <form id="contents" name="contents" method="get" action="{% url 'users:simulation_count_results_url' %}">
                            {% csrf_token %}
                            <p>
                            <label for="schoollevel">운영 시나리오 선택 : </label>
                            <select id="schoollevel" name="schoollevel">
                                <option selected disabled>선택해주세요</option>
                                <option value="시나리오1">1</option>
                                <option value="시나리오2">2</option>
                                <option value="시나리오3">3</option>
                            </select>
                            </p>

                            <p>
                            <label for="prelevel">예측 모델 선택 : </label>
                            <select id="prelevel" name="prelevel">
                                <option selected disabled>선택해주세요</option>
                                <option value="RNN">RNN</option>
                                <option value="LSTM">LSTM</option>
                                <option value="DLinear">DLinear</option>
                                <option value="NLinear">NLinear</option>
                            </select>
                            </p>

                            <p>예측시작년도 : <input name="start_num" type="text"></p>
                            <!-- <p>학급당 학생 수 : <input name="limit" type="text"></p> -->

                            <button type="button" onclick="send();">시뮬레이션</button>

                        </form>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}